#payment-form {
  margin: 0; }
  #payment-form > input, #payment-form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0; }
  #payment-form input {
    min-width: 400px;
    color: grey; }
  #payment-form input:focus {
    outline: none; }
  #payment-form button {
    color: white;
    text-transform: uppercase;
    font-weight: bold; }

.payment {
  background-color: white;
  list-style-type: none;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  display: grid;
  grid-template-columns: 100px 1fr;
  text-align: center;
  border-radius: 10px; }

#payment-list {
  margin: 0;
  padding: 0; }

#home-page {
  background: linear-gradient(#7172FE, #792EFD);
  height: 100%; }
  #home-page header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%; }
  #home-page .overlap {
    height: 15px;
    width: 100%;
    display: block;
    position: relative;
    background: linear-gradient(#7046FC, transparent);
    z-index: 1; }
  #home-page .payment-list {
    margin: 0 auto;
    overflow-y: auto;
    position: relative;
    bottom: 15px;
    height: 70%; }
    #home-page .payment-list::-webkit-scrollbar {
      width: 5px; }
    #home-page .payment-list::-webkit-scrollbar-track {
      background: transparent; }
    #home-page .payment-list::-webkit-scrollbar-thumb {
      background: #9BFEA1; }
    #home-page .payment-list::-webkit-scrollbar-thumb:hover {
      background: #00D3B9; }

html, body, main {
  margin: 0;
  padding: 0;
  height: 100%; }

.z-depth-5 {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); }

.clickable.z-depth-5:hover {
  transition-duration: .2s;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.success-gradient {
  background: linear-gradient(#9BFEA1, #00D3B9); }

