#payments-table {
  margin: 0 auto;
  padding: 50px;
  margin-top: 15px;
  text-align: center;
  border-collapse: separate;
  border: 2px dashed #ccc;
  border-radius: 10px;
  border-spacing:5em;

  th, td{
    text-align: center;
  }

  tbody tr {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    td{
      padding: 10px;
      margin: 10px;
    }
  }

}