#home-page {
  background: linear-gradient(#7172FE, #792EFD);
  height: 100%;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 30%;
    width: 100%;
  }

  .overlap{
    height: 15px;
    width: 100%;
    display: block;
    position: relative;
    background: linear-gradient(#7046FC,  transparent);
    z-index: 1;
  }

  .payment-list {
    margin: 0 auto;
    overflow-y: auto;
    position: relative;
    bottom: 15px;
    height: 70%;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #9BFEA1;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #00D3B9;
    }
  }
}
